* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
}

body {
    background-image:url(https://wallpapers.com/images/featured/hermoso-minecraft-on7hyl1nq96xum8d.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background: rgb(255, 255, 255,0.5);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.container1{
    background:rgba(30, 106, 62, 0.7);
    transition: transform 0.3s ease;
}

.container1:hover{
    transform: translateY(-6px);
}

.container  h1 {
    color: white;
    margin-top: 20px;
    font-size: 50px;
}

.container h2 {
    color: #333;
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 32px;
}
.container h3{
    color: #034f0c;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.datos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dato-card {
    background:rgba(30, 106, 62, 0.5);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.dato-card:hover {
    transform: translateY(-5px);
}

.label {
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.valor {
    color: rgb(9, 75, 34);
    font-size: 25px;
}

.sexo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.sexo-imagen {
    width: 80px;
    height: 80px;
    object-fit: contain;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}